@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap");

:root {
	--yellow: #ffc75f;
	--yellow_dark: #e7b355;
	--purple: #845ec2;
	--light_grey: #efefef;
	--grey: #969696;
}

h1 {
	display: inline-block;
	font-family: "Love Ya Like A Sister";
	color: white;
	font-weight: lighter;
	text-rendering: geometricPrecision;
	--minFontSize: 2rem;
	--maxFontSize: 8rem;
	--scaler: 4vw;
	font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}
