@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap");

:root {
	--yellow: #ffc75f;
	--yellow_dark: #e7b355;
	--purple: #845ec2;
	--light_grey: #efefef;
	--grey: #969696;
}
