#username-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
    min-width: 80%;
}

#name {
	font-family: "Sanchez";
	color: var(--purple);
}

#title {
	font-family: "Love Ya Like A Sister";
    text-align: center;
	color:var(--yellow);
	margin-bottom: 4rem;
	font-size: 3rem;
}

#translations {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Sanchez";
}

.translation-items{
    padding-top: 1rem;
}