#transInput {
    height: 2rem;
    width: 33%;
    border-radius: 10rem;
    padding: 0.5rem;
}

#transInput:focus {
    outline: 0;
}

#translate-btn {
    height: 3rem;
    width: 5rem;
    border-radius: 10rem;
    background-color: gray;
}

#translate-btn:focus {
    outline: 0;
}

#translated {
    background-color: gray;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5rem;
}

#translated img {
    width: 60px;
    background-color: darkgray;
    margin: 0.5rem;
    padding: 0.1rem;
    border-radius: 50rem;
}